@using System.Linq
@using FakeCSV.Domain.Models
@model NewSchemaViewModel
@{
    Layout = "_Layout";
}
<header>
    <partial name="Partial/_NavBar" />
</header>

<div class="container">

    <!-- HEADER-->
    <h2 class="fs-4 mb-4">@ViewBag.Title</h2>

    <!--INPUTS WRAPPING ROW-->
    <div class="row">
        <div class="col-md-10">
            <!-- TOP INPUTS-->
            <form>
                <div class="row d-flex justify-content-between flex-lg-nowrap flex-wrap">
                    <div class="col-xl-5 col-lg-7 col-md-12">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Name</label>
                            <input asp-for="Name" type="text" class="form-control">
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Separator" class="form-label"></label>
                            <select class="form-select"
                                    asp-for="Separator"
                                    asp-items="Html.GetEnumSelectList<ColumnSeparator>()">
                            </select>
                        </div>

                        <div class="mb-5">
                            <label asp-for="Quotation" class="form-label"></label>
                            <select class="form-select"
                                    asp-for="Quotation" asp-items="Html.GetEnumSelectList<QuotationMark>()">
                            </select>
                        </div>

                    </div>

                    <!--+++++++++ SUBMIT BUTTON +++++++++-->
                    <div class="col mb-5 align-self-end">
                        <input type="submit" asp-controller="Home"
                               asp-action="Submit" formmethod="post" name="submit" class="float-end btn btn-primary px-4" value="Submit">
                    </div>
                </div>

                <div class="col-md">
                    <h2 class="fs-4 mb-4">Schema columns</h2>
                </div>

                <!--===============ROWS SECTION===============-->
                @{ if (Model.Columns != null)
                    {
                        for (var i = 0; i < Model.Columns.Count(); i++)
                        {

                            <div class="row mb-3">
                                <div class="col-lg-7 col-md-12">
                                    <div class="row ">
                                        
                                        <div class="col-md-7 mb-1">
                                            <label asp-for="@(Model.Columns[i].ColumnName)" class="form-label"></label>
                                            <input type="text" class="form-control" asp-for="@(Model.Columns[i].ColumnName)">
                                            <span class="text-danger" asp-validation-for="@(Model.Columns[i].ColumnName)"></span>
                                        </div>

                                        <div class="col-md-5 mb-1">
                                            <label class="form-label" asp-for="@(Model.Columns[i].Type)"></label>
                                            <select class="form-select" asp-for="@(Model.Columns[i].Type)"
                                                    asp-items="Html.GetEnumSelectList<ColumnType>()">
                                            </select>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-lg-5 col-md-12 ">
                                    <div class="row">
                                        <div class="col-md-5 ">
                                            <div class="row">
                                                <!--HIDDEN INPUTS-->
                                                @if (Model.Columns[i].LowerLimit != null && Model.Columns[i].UpperLimit != null)
                                                {
                                                    <div class="col-sm mb-1">
                                                        <label asp-for="@(Model.Columns[i].LowerLimit)" class="form-label">From</label>
                                                        <input asp-for="@(Model.Columns[i].LowerLimit)" type="number" class="form-control" >
                                                        <span asp-validation-for="@(Model.Columns[i].LowerLimit)" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-sm mb-1">
                                                        <label asp-for="@(Model.Columns[i].UpperLimit)" class="form-label">To</label>
                                                        <input asp-for="@(Model.Columns[i].UpperLimit)" type="number" class="form-control" >
                                                        <span asp-validation-for="@(Model.Columns[i].UpperLimit)" class="text-danger"></span>
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                        <div class="col-md-7 mb-1">
                                            <label asp-for="@(Model.Columns[i].Order)" class="form-label"></label>
                                            <div class="d-flex">
                                              
                                                <input asp-for="@(Model.Columns[i].Order)" class="form-control" type="number">

                                                <!--++++++++++++++++DELETE BUTTON++++++++++++++++-->
                                                <input type="submit"
                                                       formmethod="post"
                                                       name="Delete"
                                                       value="Delete"
                                                       asp-action="DeleteColumn"
                                                       asp-controller="Home"
                                                       asp-route-deleteid="@(i)"
                                                       class="btn btn-link no-underline text-danger">
                                            </div>
                                            <span asp-validation-for="@(Model.Columns[i].Order)" class="text-danger"></span>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="d-lg-none mb-5"> </div>
                        }
                    }
                }

                <!--GAP BETWEEN ROWS ANG ADDING ROW SECTION-->
                <div class="mb-5"> </div>

                
                <!--===============ADDING A NEW ROW===============-->
                <div class="row">
                    <div class="border rounded py-4 mb-5">

                        <!--NEW ROW INPUTS-->
                        <div class="row mb-3">
                            <div class="col-lg-7 col-md-12">
                                <div class="row ">
                                    <div class="col-md-7 mb-1">
                                        <label asp-for="@(Model.AddColumnName)" class="form-label"></label>
                                        <input type="text" class="form-control" asp-for="@(Model.AddColumnName)">
                                        <span class="text-danger" asp-validation-for="@(Model.AddColumnName)"></span>
                                    </div>

                                    <div class="col-md-5 mb-1">
                                        <label class="form-label" asp-for="@(Model.AddColumnType)"></label>
                                        <select class="form-select" asp-for="@(Model.AddColumnType)"
                                                asp-items="Html.GetEnumSelectList<ColumnType>()">
                                        </select>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-5 col-md-12 ">
                                <div class="row">
                                    <div class="col-md-5 ">
                                        <div class="row">
                                            <!--HIDDEN INPUTS-->
                                            <div class="col-sm mb-1">
                                                <label asp-for="@(Model.AddColumnLowerLimit)" class="form-label">From</label>
                                                <input asp-for="@(Model.AddColumnLowerLimit)" type="number" class="form-control">
                                                <span asp-validation-for="@(Model.AddColumnLowerLimit)" class="text-danger"></span>
                                            </div>
                                            <div class="col-sm mb-1">
                                                <label asp-for="@(Model.AddColumnUpperLimit)" class="form-label">To</label>
                                                <input asp-for="@(Model.AddColumnUpperLimit)" type="number" class="form-control">
                                                <span asp-validation-for="@(Model.AddColumnUpperLimit)" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-7 mb-1">
                                        <label asp-for="@(Model.AddColumnOrder)" class="form-label"></label>
                                        <div class="d-flex">
                                            <input asp-for="@(Model.AddColumnOrder)" class="form-control" type="number" placeholder="1">
                                            <button class="btn btn-link no-underline text-danger" type="submit">Delete</button>
                                        </div>
                                        <span asp-validation-for="@(Model.AddColumnOrder)" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <!--ADD NEW COLUMN BUTTON-->
                        <div class="row mb-3">
                            <div class="col-md-3">
                                <!--+++++++++ ADD COLUMN BUTTON +++++++++-->
                                <input type="submit"
                                       formmethod="post"
                                       name="addcolumn"
                                       value="Add Column"
                                       asp-controller="Home"
                                       asp-action="AddColumn"
                                       class="btn btn-primary px-4">
                            </div>
                        </div>
                    </div>
                </div>
               
            </form>
        </div>
        <!--GAP-->
        <div class="col-md-2"></div>
    </div>
</div>
