@model IEnumerable<SchemaViewModel>
@{
    Layout = "_Layout";
}

<header>
    <partial name="Partial/_NavBar" />
</header>

<section class="data-schemas">
    <div class="container">

        <!--WRAPPING ROW-->
        <div class="row">
            <div class="col-lg-9 col-md-12">
                <div class="row d-flex justify-content-md-between">

                    <!--HEADER-->
                    <div class="col">
                        <h2 class="fs-4 mb-4">Data schemas</h2>
                    </div>

                    <!--NEW SCHEMA BUTTON-->
                    <div class="col mb-4 ">
                        <a asp-controller="Home" asp-action="Edit" class="btn btn-success px-4 float-end">New schema</a>
                    </div>
                </div>

                <!--TABLE-->
                @if (Model.Any())
                {
                    <table class="table table-bordered align-middle">
                        <colgroup>
                            <col style="width:10%">
                            <col span="3" style="width:30%">
                        </colgroup>

                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Modified</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i= 1;}
                            @foreach (var schema in Model)
                            {
                                <tr>
                                    <th>@(i++)</th>
                                    <td class="p-1"><a class="btn btn-link no-underline" asp-controller="Home" asp-action="Data" asp-route-id="@schema.Id">@schema.Name</a></td>
                                    <td>@schema.UpdateTime.ToString("yyyy-MM-dd")</td>
                                    <td class="p-1">
                                        <ul>
                                            <li class="d-inline">
                                                <a class="btn btn-link no-underline"
                                                   asp-controller="Home" asp-action="Edit"
                                                   asp-route-id="@schema.Id">Edit scheme</a>
                                            </li>
                                            <li class="d-inline">
                                                <a class="btn btn-link no-underline text-danger"
                                                   asp-controller="Home"
                                                   asp-action="DeleteScheme">Delete</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            }

                            <tr>
                            </tr>
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="row">
                        <div class="col">
                            <h3 class="fs-5 mb-4">There is no any scheme yet</h3>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</section>