
@model NewSchemaViewModel
<!--SCHEMA COLUMNS EDIT-->
<!--SECON HEADER-->
<div class="col-md">
    <h2 class="fs-4 mb-4">Schema columns</h2>
</div>

<!--FIRST ROW-->
@{
    foreach (var column in Model.Columns)
    {
        <form asp-action="Delete" asp-controller="NewSchema">
            <div class="row mb-3">

                <div asp-validation-summary="ModelOnly"></div>
                
                    <div class="col-lg-7 col-md-12">
                        <div class="row ">
                            <div class="col-md-7 mb-1">
                                <label asp-for="@(column.ColumnName)" class="form-label"></label>
                                <input type="text" class="form-control" asp-for="@(column.ColumnName)">
                                <span class="text-danger" asp-validation-for="@(column.ColumnName)"></span>
                            </div>

                            <div class="col-md-5 mb-1">
                                <label class="form-label" asp-for="@(column.Type)"></label>
                                <select class="form-select" asp-for="@(column.Type)"
                                        asp-items="@(new SelectList( "Id", "Name" ))">
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12 ">
                        <div class="row">
                            <div class="col-md-5 ">
                                <div class="row">
                                    <!--HIDDEN INPUTS-->
                                    <div class="col-sm mb-1">
                                        <label asp-for="@(column.LowerLimit)" class="form-label">From</label>
                                        <input asp-for="@(column.LowerLimit)" type="number" class="form-control">
                                        <span asp-validation-for="@(column.LowerLimit)" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm mb-1">
                                        <label asp-for="@(column.UpperLimit)" class="form-label">To</label>
                                        <input asp-for="@(column.UpperLimit)" type="number" class="form-control">
                                        <span asp-validation-for="@(column.UpperLimit)" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-7 mb-1">
                                <label asp-for="@(column.Order)" class="form-label"></label>
                                <div class="d-flex">
                                    <input asp-for="@(column.Order)" class="form-control" type="number" placeholder="1">
                                    <button class="btn btn-link no-underline text-danger" type="submit">Delete</button>
                                </div>
                                <span asp-validation-for="@(column.Order)" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                


            </div>
        </form>
        <div class="d-lg-none mb-5"> </div>
    }
}







